<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Kickstarter" Language="1033" Version="1.0.0.0" Manufacturer="MAndWorks" UpgradeCode="b8c72d02-ee85-4733-97f0-3d6dc73c29fc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
    

		<Feature Id="ProductFeature" Title="Kickstarter Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Kickstarter" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="Kickstarter">
        <File Source="$(var.Kickstarter.TargetPath)" KeyPath="yes"/>
      </Component>
      <Component Id="Kickstarter.Api">
        <File Source="$(var.Kickstarter.Api.TargetPath)" KeyPath="yes"/>
      </Component>
      <Component Id="states.txt">
        <File Source="../Kickstarter\states.txt" KeyPath="yes"/>
      </Component>
      <Component Id="JSON.NET">
        <File Source="../packages\Newtonsoft.Json.6.0.6\lib\net40\Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>